<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
        <title>Maze Game</title>
    </head>
    <body>
    <h1><strong>How To Play</strong></h1>
    <h2><strong>Movement</strong></h2>
    <p>
        <ul>
            <li>Enter 'W' to move upwards.</li>
            <li>Enter 'S' to move downwards.</li>
            <li>Enter 'A' to move left.</li>
            <li>Enter 'D' to move right</li>
        </ul>
    </p>
    <h2><strong>Goal</strong></h2>
    <p>The goal of the game is to escape the maze. Find your way out!</p>
    </body>
</html>
